@media screen and (min-width:640px) and (max-width:900px) {

    .spotlightSelect section:nth-child(3) {
        display: none
    }

    
    #small-message{
        display: none;
    }

    #medium-message{
        right: 30%;
        top: 10%;
        position: absolute;
        color: black;
        font-size: larger;
    }

    #large-message{
        display: none;

    }

    #welcome{
        top: 2px;
        position: absolute;
        text-align: center;
        color: #0C2D48;
        text-decoration: solid;
        font-size: larger;
        font-weight: 900;

    }

    #hero-button{
        position: absolute;
        bottom: 2.5rem;
        right: 2rem;
    }
    #weather h2{
        color: blue;
    }
    #hero-button button{
        width: 15rem;
        height: 3rem;
        background-color: #B1D4E0;
        color: #0C2D48;
        border:  1px solid #0C2D48;
        border-radius: 10px;
    }

    #news-release h2{
        color: blue;
    }

    #spotlights h2{
        color: blue;
        padding: 1rem;
    }

    html{
        background-color: #0C2D48;
    }

    #main-header{
        font-family: 'Raleway', sans-serif;
        background-color: #0C2D48;
        color:  #B1D4E0;
        display: flex;
        height: 85px;
        padding-bottom: 0px;
    }
    #main-logo{
        padding: 0.5rem;
    }

    #socials{
        display: flex;
    }
    #main-header img{
        border: 1px #0C2D48 solid ;
    }

    #title{
        display:block;
        width: 125px;
    }

    #main-header h1{
        font-size: large;
        padding-left: 0.5rem;
    }
    
    #main-header h2{
        font-size: medium;
        padding-left: 0.5rem;
        width:100%
    }

    #facebook{
        padding-left: 170%;
        padding-top:1.5rem;
    }

    #linkedin{
        padding-left: 190%;
        padding-right: 200%;
        padding-top:1.5rem;
    }


    #main-header button{
        width: 50px;
        height: 50px;
        margin-left: 145%;
    }

    #hamburger-menu{
        background-color: #B1D4E0;
        font-size: 2rem;
        border: hidden;
        width: 100%;
        align-items: flex-end;
    }
    
    #hamburger-menu button{
        align-self: flex-end;
    
    }


    nav{
        background-color: #0C2D48;
        width: 50px;
        padding-right: 0.5rem;
        padding-top: 1.5rem;

    }

    nav ul li{
        display: block;
        /* padding: 10px; */
        text-align: center;
        border: 1px solid white;
        height: 100%;
        color: white;
        
    }
    
    nav{
        width: 15%; 
        font-family: 'Montserrat', sans-serif;
        background-color:  #0C2D48;
        /* text-align: center; */
        /* width: 672px; */
        margin:0  auto;
        color:white;
        background-color: #0C2D48;
       
       
    }
    nav ul{
        justify-content: center;
         display:flex;
         flex-direction: column;
         list-style: none;
         padding-inline-start: 0px;
        
    }

    nav ul li a{
        display: block;
        padding: 0.5rem;
    }


    nav ul li a:hover{
        text-decoration: none;
        display: block;
        color:white;
        background-color:#0C2D48;
    
    }
    

    nav a{
        color: #0C2D48;
        display: block;
        text-decoration: none;
    }
    
    #navbar{
        display: none;
        z-index: 2;
        position: relative;
    }
    
    nav.menu-active{
        width:100%
    }
    #navbar.menu-active{
        margin-left: 8rem;
        width: 100%; 
        background-color: #B1D4E0;
        display: block;
        justify-content: center;
        text-align: center;
    }
    
    #menu-open.menu-active{
        display: inline;
    }
    #menu-close.menu-active{
        display: none;
    }
    
    #menu-open{
        display: none;
    }
    
    #menu-close{
        display: inline;
    }

    #top-date{
        border: 1px solid #B1D4E0;
        padding-top: 15px;
        height: 40px;
        text-align: center;
        background-color: #0C2D48;
        color:  #B1D4E0;
        margin: 1rem;
    }


    .home-main{
        background-color: #0C2D48;
    }

    .home-main p{
        margin: 0px;
        padding: 1rem;
    }

    #hero{
        height: 90%;
        position: relative;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        order: 1;
        z-index: 1;
    }

    #hero img{
        object-fit: fill;
        height: 100%;
    }
    #event-weather{
        order: 6;
        display: grid;
        grid-template-areas: "one one two";
    }
    #event{
        text-align: center;
        background-color: #B1D4E0;
        margin:  0.5rem;
        grid-area: one;
        padding: 1rem;
    }

    #event h2{
        color: blue;
    }
    #weather{
        text-align: center;
        grid-area: two;
        background-color: #B1D4E0;
        margin:  0.5rem;
    }

    #weather-info{
        display: flex;
        padding: 2rem;
        margin: 0.2rem auto;
    }

    #weather img{
        padding: 0.5rem;
        height: 45px;
    }

    #wind-info{
        padding: 0.2rem;
    }
    #news-release{
        padding: 0.5rem;
        text-align: center;
        background-color: #B1D4E0;
        margin:  0.5rem;
        order: 2;
    }

    #spotlights img{
        width: 150px;
        height: 150px;
    }

    #spotlights{
        width: 98%;
        text-align: center;
        background-color: #B1D4E0;
        display: grid;
        grid-template-areas: "one two";
        margin:  0.5rem;
        border: 1px solid #0C2D48;
        order: 3;
    }
    #spotlight-1{
        padding: 1rem;
        width: 100%;
        background-color: #B1D4E0;
        border: 1px solid #0C2D48;
        
    }
    #spotlight-1 h3{
        padding-right: 1.85em;
    }
    #spotlight-1 hr{
        width: 85%;
    }
    #spotlight-2{
        padding: 1rem;
        background-color: #B1D4E0;
        border: 1px solid #0C2D48;
    }
    #spotlight-3{
        background-color: #B1D4E0;
        display: none;
    }

    #join button{
        width: 85%;
        height: 40px;
        border-radius: 9px;
        background-color: blue;
        color: white;
        border: 4px solid black;
        

    }
    #join{
        padding: 0.5rem;
        text-align: center;
        background-color: #B1D4E0;
        order: 4;
        margin:  0.5rem;
    }
    main.home-main{
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;}

    footer{
        background-color: #0C2D48;
        color:#B1D4E0;
        text-align: center;
        line-height: 1.5rem;
    }

    #containers{
        display: flex;
    }

    #container-1{
        display: inline-block;
        margin-left: 2rem;
    }
    #container-2{
        display: inline;
        margin-left: 1rem;
    }
    #container-3{
        margin-left: 6rem;
    }

    footer a{
        color: white;
    }
    
    #last-line::before{
        content: "\a";
        white-space: pre;

    }

    #customize-footer br{
        content: ""
    }
    #customize-footer br:after{
        content: " | "
    }

    .discover-main{

        background-color: #0C2D48;
        color:#0C2D48;


    }

    .discover-main div{
        margin: 1rem auto;
        border: solid 1px #0C2D48 ;
        background-color: #B1D4E0;
    }

    #demographics{
        
        text-align: center;
        padding: 1rem;

}

    #the-lake{
       
        text-align: center;
        padding: 1rem;
    }

    #downtown{
       
        text-align: center;
        padding: 1rem;
    }

    #winter-sports{
        
        text-align: center;
        padding: 1rem;
    }

    #state-intersection{
     
        text-align: center;
        padding: 1rem;
    }
    .discover-main img{
        transition: 1s ease;
    }

    .discover-main img:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
    }

    .join-main{
        margin: 1rem auto;
    }

    #left{
        margin: auto;
        padding: 3rem;
        background-color: #B1D4E0;
        color: #0C2D48;
        border: 1px solid black;
    }

    #right{
        margin: auto;
        padding: 2rem;
        background-color: #B1D4E0;
        color: #0C2D48;
        border: 1px solid black;
    }

    #submit-button{
        border-radius: 5px;
        background-color: blue;
        color: white;
        padding: 0.5rem;

    }
    #temperature, #description{
        padding-left: 30%
    }


}
